<header id="header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <div class="market-header clearfix">

        <div>
          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="demo-interior-design.html" class="standard-logo"><img src="assets/images/logo.png" alt="Canvas Logo"></a>
            <a href="demo-interior-design.html" class="retina-logo"><img src="assets/images/logo@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

        </div>

        <div>
          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="with-arrows clearfix">

            <ul class="one-page-menu">
              <li><a href="javascript:void(0)"  (click)="manipulateHeight(500)" [ngx-scroll-to]="'header'"><div>Home</div></a></li>
              <li><a href="javascript:void(0)" (click)="manipulateHeight(0)" [ngx-scroll-to]="'product'"  ><div>Products</div></a></li>
              <li><a href="javascript:void(0)" (click)="manipulateHeight(0)" [ngx-scroll-to]="'services'" ><div>Services</div></a></li>
              <li><a href="javascript:void(0)" (click)="manipulateHeight(0)" [ngx-scroll-to]="'about'" ><div>About</div></a></li>
              <li><a href="javascript:void(0)" (click)="manipulateHeight(0)" [ngx-scroll-to]="'testi'" ><div>Testimonials</div></a></li>
              <li><a href="javascript:void(0)" (click)="manipulateHeight(0)" [ngx-scroll-to]="'footer'" ><div>Contact</div></a></li>
            </ul>
          </nav><!-- #primary-menu end -->
        </div>
        <div>
          
        </div>
      </div>
    </div>

  </div>

</header>

