<app-header></app-header>

<section id="slider" class="slider-element clearfix" style="height: 500px; background: url('assets/images/hero-image.jpg') center center no-repeat; background-size: cover;">
    <div class="vertical-middle">
        <div class="container clearfix">

            <div class="clearfix center divcenter" style="max-width: 700px;">
                <div class="emphasis-title">
                    <h1 class="font-secondary" style="color: #FFF; font-size: 76px; font-weight: 900; padding-top: 120px; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Design Studio.</h1>
                    <p style="font-weight:300; opacity: .7; color: #FFF; text-shadow: 0 -4px 20px rgba(0, 0, 0, .25);">Sell your home to us and skip the hassle of<br>repairs, showings and months of uncertainty</p>
                </div>
               
            </div>

        </div>
    </div>

</section>


<section id="product">


        <div class="content-wrap notoppadding clearfix">
    
            <div class="section notopmargin clearfix" style="padding: 80px 0">
                <div class="container clearfix">
                        <div class="heading-block center nobottomborder">
                                <h2 class="ls2 t700">OUR PRODUCTS</h2>
                                <span>Competently benchmark backward-compatible technologies vis-a-vis<br>parallel convergence. Rapidiously innovate stand-alone.</span>
                            </div>
    
                    <div class="divcenter" style="max-width: 960px">
                        <div class="row clearfix">
                            
                            <div class="row topmargin clearfix">
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="assets/images/products/int1.jpg" alt="Dogs">
                             
    
                                </div>
                                
                                <div class="col-lg-5 d-none d-lg-block">
                                        <img src="assets/images/products/int1.jpg" alt="Dogs">
                                    </div>
                                
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </section>





    <section id="services">


            <div class="content-wrap notoppadding clearfix">
        
                    <div class="divcenter" style="max-width: 960px">
                            <div class="heading-block center nobottomborder">
                                <h2 class="ls2 t700">OUR SERVICES</h2>
                                <span>Competently benchmark backward-compatible technologies vis-a-vis<br>parallel convergence. Rapidiously innovate stand-alone.</span>
                            </div>
                            <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">
            
                                
            
                                <div class="tab-container">
            
                                    <div class="tab-content clearfix" id="tabs-1">
                                        <div class="story-box description-left clearfix">
                                            <div class="story-box-image">
                                                <img src="assets/images/story/1.jpg" alt="story-image">
                                            </div>
                                            
                                        <div class="story-box-info">
                                                <h3 class="story-title">We help people to create new Website.</h3>
                                                <div class="story-box-content">
                                                    <p>Uniquely productize cross-unit action items with multifunctional imperatives. Quickly communicate collaborative relationships rather than timely materials. Progressively foster unique interfaces vis-a-vis backend e-services.</p>
                                                    <button class="t300 button noleftmargin button-rounded">Read Canvas's story</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content clearfix" id="tabs-2">
                                        <div class="story-box clearfix">
                                            <div class="story-box-image">
                                                <img src="assets/images/story/2.jpg" alt="story-image">
                                            </div>
                                            <div class="story-box-info">
                                                <h3 class="story-title">Get better results tomorrow by reading this post.</h3>
                                                <div class="story-box-content">
                                                    <p>Progressively streamline future-proof networks rather than virtual channels. Intrinsicly architect performance based products with B2C communities. Appropriately underwhelm integrated information via superior platforms.</p>
                                                    <button class="t300 button noleftmargin button-rounded">Read More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content clearfix" id="tabs-3">
                                        <div class="story-box description-left clearfix">
                                            <div class="story-box-image">
                                                <img src="assets/images/story/3.jpg" alt="story-image">
                                            </div>
                                            <div class="story-box-info">
                                                <h3 class="story-title">TK’s recipe of the week: Guiness beef stew.</h3>
                                                <div class="story-box-content">
                                                    <p>Compellingly synthesize technically sound users without technically sound vortals. Rapidiously redefine maintainable leadership with multifunctional strategic theme areas. Appropriately plagiarize business ideas vis-a-vis.</p>
                                                    <button class="t300 button noleftmargin button-rounded">Read About Me</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content clearfix" id="tabs-4">
                                        <div class="story-box clearfix">
                                            <div class="story-box-image">
                                                <img src="assets/images/story/4.jpg" alt="story-image">
                                            </div>
                                            <div class="story-box-info">
                                                <h3 class="story-title">We help people to create new Website.</h3>
                                                <div class="story-box-content">
                                                    <p>Dynamically exploit cross-platform sources vis-a-vis scalable paradigms. Efficiently plagiarize multifunctional internal or "organic" sources before intuitive innovation. Synergistically facilitate goal-oriented ROI vis-a-vis client-focused.</p>
                                                    <a href="#">Read Deanne's story</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
            
                            </div>
                        </div>
            
        
            </div>
        
        </section>
    
    



        <section id="about">

                <div class="section nopadding notopmargin nobg clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
                        <div class="row common-height clearfix">
                            <div class="col-lg-6 center col-padding" style="background: url('assets/images/story/2.jpg') center center no-repeat; background-size: cover;">
                                <div>&nbsp;</div>
                            </div>
        
                            <div class="col-lg-6 col-padding">
                                <div>
                                    <div style="position: relative;">
                                        <div class="heading-block noborder" data-heading="A">
                                            <h3 class="nott ls0"><b>About Us</b></h3>
                                        </div>
                                    </div>
        
                                    <!-- About Us Featured Boxes
                                    ============================================= -->
                                    <div class="row clearfix">
                                        <div class="col-lg-10 col-md-8 bottommargin">
                                            <div class="feature-box fbox-plain">
                                                <div class="fbox-icon">
                                                    <a href="#"><i class="icon-line2-drop"></i></a>
                                                </div>
                                                <h3>All over the World</h3>
                                                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-8 bottommargin">
                                            <div class="feature-box fbox-plain">
                                                <div class="fbox-icon">
                                                    <a href="#"><i class="icon-line2-key"></i></a>
                                                </div>
                                                <h3>Fully Customisable</h3>
                                                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-8">
                                            <div class="feature-box fbox-plain">
                                                <div class="fbox-icon">
                                                    <a href="#"><i class="icon-line2-pointer"></i></a>
                                                </div>
                                                <h3>Helpfull Documentation</h3>
                                                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
             
                
            
            </section>


            <section id="testi">

                <div class="container clearfix">

            <div class="heading-block center nobottomborder" id="test">
                <h2 class="ls2 t700">TESTIMONIALS</h2>
               
            </div>

            <div class="row bottommargin clearfix">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="review-row center">
                        <h6>Check out some of our Testimonials</h6>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col-12 reviews-lists clearfix">

                    <div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="0" data-pagi="false" data-items="1" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="5000">

                        <div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="review-company">Adeola Ade</div>
                                                <div class="review-id">Themeforest Author</div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Awesome Template and Good Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>Not only is this a REALLY professionally designed website, but the support is phenomenal. They have promptly answered all of my questions (and I had several :) ) Nice job SemiColonWeb!!! I highly recommend your HTML template to anyone looking for a website. Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Hello, I would like to say that :SemiColonWeb" has being the SUPER BEST CUSTOMER SERVICE I HAVE EVER HAD during all my year in Envato. This Guys are the Best, not only on Design by the most Important for us, in customer service. There are fast, super professional, on time and the most important they care about their clients. 100 BIG STARS FOR EVER!!!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="review-company">VarunD</div>
                                                <div class="review-id">Themeforest Author</div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Nice Design Quality &amp; Well Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Awesome theme. Using it for two different sites at the moment and it keeps on giving! Thanks SemiColonWeb! Love this template. one of the best I've worked with. Wow, very inspiring design and excellent code. One of the best HTML and bootstrap templates here on Themeforest with infinitely many features. Really Well Done! Flexible, easy to customize, amazing code quality and a good documentation. This theme fits well in various business strategies.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="review-company">Paultran47</div>
                                                <div class="review-id">Themeforest Author</div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>The support is wonderful as well.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>It's amazing that less than 20 dollars gets you more than 400 templates and a bunch of customisability. But what I love the most about Canvas's template is the clear and clean code structure. Everything is easy to understand and to find. This template is so well done, clean and well documented. Having examples for almost any variation that I can use as a basis. I find this much more efficient that website builders. Continue this great work! Really, really great job, guys!!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
           
        </div>
            </section>









<app-footer></app-footer>




